.dark-theme
{
    --background-color: #1c1c1c;
    --surface-color: #262626;
    --text-color: #cacaca;
    --text-color-muted: #585858;
    --accent-color: #632eff;
    --accent-color-muted: #3d297a;
    --accent-color-text: #c1adff;
}

.light-theme
{
    --background-color: #ffffff;
    --surface-color: #f0f0f0;
    --text-color: #1d1d1d;
    --text-color-muted: #4d4d4d;
    --accent-color: #412b81;
    --accent-color-muted: #ac9ddb;
    --accent-color-text: #16093d;
}

body
{
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;

    --surface-border-radius: 15px;
}


.chart-container
{
    flex-grow: 1;
    flex-basis: 0;
    min-width: 600px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    display: inline-block;
}

.row
{
    width: -webkit-fill-available;
    margin: 15px;
    padding: 15px;
    gap: 15px;
    display: flex;
    height: fit-content;
    min-height: 50vh;
    flex-wrap: wrap;

    border-radius: var(--surface-border-radius);
    background-color: var(--surface-color);
}